<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block title %}

    {% endblock title %}
</head>


<body>
        {% block content %}
        {% endblock content %}
    <header>
        <nav>
            <ul>
                <!-- {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li> -->

            </ul>
        </nav>
    </header>
</body>
</html>
